

@media screen and (min-width:1700px) {
    .widthCards{
        width: 77% !important;
    }
    .bannerImg{
        height: 92.5vh;
    }
}
@media screen and (min-width:2000px) {
    .widthCards{
        width: 70% !important;
    }
    .bannerHeight{
        height:100vh
    }
    .bannerImg{
        height: 59vh;
    }
   
}
.grid1{
    background-image: url("../assets/grid1.webp");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.grid2{
    background-image: url("../assets/grid2.webp");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.grid3{
    background-image: url("../assets/grid3.webp");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}