

@media screen and (min-width:1700px) {
    .widthHome{
        width: 77% !important;
    }
    .bannerImg{
        height: 92.5vh;
    }
}
@media screen and (min-width:2000px) {
    .widthHome{
        width: 70% !important;
    }
    .bannerHeight{
        height:63vh
    }
    .bannerImg{
        height: 59vh;
    }
   
}