

@media screen and (min-width:1700px) {
    .widthHome{
        width: 77% !important;
    }
    .bannerImg{
        height: 92.5vh;
    }
}
@media screen and (min-width:2000px) {
    .widthHome{
        width: 70% !important;
    }
    .bannerHeight{
        height:63vh
    }
    .bannerImg{
        height: 59vh;
    }
   
}


.rotating-text-container {
    position: relative;
    height: 105px; 
    overflow: hidden;
    overflow-y: hidden;
    width: 400px;
  }
  
  .rotating-text {
    position: absolute;
    animation: fadeInOut 2s ease-in-out forwards;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    10% {
      opacity: 1;
      transform: translateY(0px);
    }
    90% {
      opacity: 1;
      transform: translateY(0px);
    }
    100% {
      opacity: 0;
      transform: translateY(-20px);
    }
  }
  